/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* questo è un commento */

body {
    background-color: lightgrey;
    font-family:'Roboto';
}

header {
    background-color: #F6F8F9;
}

header img {
    height: 5rem;
    margin-left: 1rem
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    vertical-align: text-bottom;

}

main {
    margin: 10rem;
}

section {
    background-color: #F6F8F9;
}

#taskbar {
    height: 5rem;
    margin-top: 5rem;
    margin-bottom: 0.1rem;
    border-radius: 15px 15px 0px 0px;
}

#tasks {
    height: 50rem;
    border-radius: 0 0 15px 15px;
}

.pageset {
    margin-left: 3rem;
    vertical-align: middle;
    padding: 2rem;
}

button {
    border: 1px solid lightgray;
    height: 2rem;
    padding: 1rem;
    border-radius: 5px 5px;
    line-height: 50%;
}

#taskbutton {
    background-color: #45abea;
    color: white;
}

#sectionbutton {
    background-color: white;
    color: lightgray;
}

.bluelabel {
    background-color: #45abea;
}

.labels {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    color: #F6F8F9;

}