/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: lightgrey;
    font-family:'Roboto';
}

header {
    background-color: #F6F8F9;
}

header img {
    height: 5rem;
    margin-left: 1rem;
    vertical-align: middle;
    
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    vertical-align: middle;
}

main {
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem;
}

section {
    background-color: #F6F8F9;

}

#taskbar {
    margin-top: 5rem;
    margin-bottom: 0.1rem;
    border-radius: 15px 15px 0px 0px;
}

#tasks {
    height: 100%;
    border-radius: 0 0 15px 15px;
}

.pageset {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

button {
    border: 1px solid lightgray;
    height: 2rem;
    padding: 1rem;
    border-radius: 5px 5px;
    line-height: 50%;
    vertical-align: middle;
}

#taskbutton {
    background-color: #45abea;
    color: white;
}

#sectionbutton {
    background-color: white;
    color: lightgray;
}

.labels {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    color: #F6F8F9;

}

h2 {
    display: inline-block;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
  }

  li {
    line-height: 2rem;
  }

/* Done-Undone Symbols */

.done {
    color: green;
    border: 1px solid green;
}

.undone {
    color: red;
    border: 1px solid red;
}

.symbols {
    margin-right: 0.5rem;
    border-radius: 50%;
    padding-left: 0.15rem;
    padding-right: 0.2rem;

}

.arrowsymbol {
    font-size: 1rem;
}



/* label colors */
.bluelabel {
    background-color: #45abea;
}

.purplelabel {
    background-color: #9c72e4;
}

.greenlabel {
    background-color: #9CD8C9;
}
.orangelabel {
    background-color: #F3A13A;
}
.pinklabel {
    background-color: #D863A1;
}

.lightgreenlabel {
    background-color: #B9CF3E;
}
